VESPER_CF_KEY=your_cloudflare_api_key_here
VESPER_CF_ID=your_cloudflare_account_id_here
VESPER_GROQ_KEY_1=your_groq_api_key_1_here
VESPER_GROQ_KEY_2=your_groq_api_key_2_here
VESPER_GROQ_KEY_3=your_groq_api_key_3_here
